In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from os import access
column =['Name','account num','account type','aadhar no','balance']
sbiacc ={"Name" :["Ram","Sam","Prabhu"],"account num":[9893893891,9893893898,9893893871],"account type":["SB","CA","SB"],"aadhar no":[959389389173,959389389179,959389389159],"balance":[8989460,896521,568932]}
acc=pd.DataFrame(sbiacc)

In [3]:
blankIndex=[''] * len(acc)
acc.index=blankIndex
acc

    Name  account num account type     aadhar no  balance
     Ram   9893893891           SB  959389389173  8989460
     Sam   9893893898           CA  959389389179   896521
  Prabhu   9893893871           SB  959389389159   568932

In [4]:

acc.to_csv("SBIAccountHolder.csv",index=False)
x = pd.read_csv("SBIAccountHolder.csv")
x

     Name  account num account type     aadhar no  balance
0     Ram   9893893891           SB  959389389173  8989460
1     Sam   9893893898           CA  959389389179   896521
2  Prabhu   9893893871           SB  959389389159   568932

In [5]:
f_acc=acc.copy()

In [ ]:
def menu() :
  print("1. Append Record of Account Holder")
  print("2. Delete Record of Account Holder")
  print("3. Credit amount")
  print("4. Debit Amount")
  print("5. Print Account Details")
  print("6. Exit")

def add_row(f_acc) :
  print(f_acc)
  name=input("Enter Account Holder Name : ")
  acc_no=int(input("Enter Account Number : "))
  acc_type=input("Enter Account Type : ")
  aad_no=int(input("Enter Aadhaar Number : "))
  balance=int(input("Enter Balance Amount : "))
  li={"Name" : name,"account num" : [acc_no],"account type" : [acc_type],"aadhar no" : [aad_no],"balance" : [balance]}
  f_acc=pd.concat([f_acc,pd.DataFrame(li)],ignore_index=True)
  print(f_acc)
  f_acc.to_csv("SBIAccountHolder.csv",index=False)
  return f_acc

def del_record(f_acc) :
  acc_no=int(input("Enter Account Number to delete record : "))
  acc_num = f_acc["account num"].tolist()
  if acc_no not in acc_num:
    print("!!!!! Enter the correct account number !!!!!")
  else:
    pos=pd.DataFrame(f_acc.loc[f_acc["account num"]==acc_no])
    f_acc.drop(f_acc.loc[f_acc["account num"]==acc_no].index,inplace=True)
    f_acc.to_csv("SBIAccountHolder.csv",index=False)
    print(f_acc)

def credit_amt(f_acc) :
  acc_no=int(input("Enter Account Number to credit amount : "))
  acc_num = f_acc["account num"].tolist()
  if acc_no not in acc_num:
    print("!!!!! Enter the correct account number !!!!!")
  else:
    amount=int(input("Enter amount to be credited : "))
    f_acc.loc[f_acc.loc[f_acc["account num"]==acc_no].index,"balance"] += amount
    print(f_acc)
  f_acc.to_csv("SBIAccountHolder.csv",index=False)

def debit_amt(f_acc) :
  acc_no=int(input("Enter Account Number to debit amount : "))
  acc_num = f_acc["account num"].tolist()
  if acc_no not in acc_num:
    print("!!!!! Enter the correct account number !!!!!")
  else:
    
    amt=int(input("Enter amount to be debited : "))
    pos=pd.DataFrame(f_acc.loc[f_acc["account num"]==acc_no])
    if((pos["balance"]>=amt).bool()) :

      pos["balance"]-=amt
      f_acc.loc[f_acc["account num"]==acc_no]=pos
    else :
      print("Insufficent Balance")
    print(f_acc)
  f_acc.to_csv("SBIAccountHolder.csv",index=False)

def print_act(f_acc) :
  acc_no=int(input("Enter Account Number to print details : "))
  acc_num = f_acc["account num"].tolist()
  if acc_no not in acc_num:
    print("!!!!! Enter the correct account number !!!!!")
  else:
    
    pos=f_acc.loc[f_acc["account num"]==acc_no]
    print(pos)

while(1) :
  menu()
  ch=int(input("Enter your choice : "))
  if(ch==1) :
    f_acc=add_row(f_acc)
  elif(ch==2) :
    del_record(f_acc)
  elif(ch==3) :
    credit_amt(f_acc)
  elif(ch==4) :
    debit_amt(f_acc)
  elif(ch==5) :
    print_act(f_acc)
  elif(ch>6) :
    print("Invalid Choice")
  elif(ch==6) :
    break

1. Append Record of Account Holder
2. Delete Record of Account Holder
3. Credit amount
4. Debit Amount
5. Print Account Details
6. Exit
Enter your choice : 5